{{#*inline "content"}}
<form method="post">
  <input type="text" name="username" value="{{username}}" />
  <input type="password" name="password" />
  <input type="submit" value="Log in" />
</form>
{{/inline}}
{{>layout.hbs}}
