:root {
  font-family: Open Sans, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color: #3e3e3e;
  background-color: #cecece;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --ui-shadow-color: #6a6a6a;
  --ui-border-color: #808080;
  --ui-face-color: #cfcfcf;
  --ui-light-color: #e2e2e2;
  --ui-highlight-color: #f0f0f0;
  --ui-selection-color: #eff0cf;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

.pane-header {
  outline: 1px solid var(--ui-border-color);
  background: var(--ui-face-color);
  padding: 3px 15px;
  box-shadow: inset 0px 1px 0px var(--ui-highlight-color);
  min-height: 25px;
}

.ui-table {
    table-layout: fixed;
    border-collapse: collapse;
    background: #fff;
}

.ui-table td {
    border: 1px solid #c1c1c1;
    padding: 1px 10px;
}

.ui-table th {
    background: var(--ui-face-color);
    text-align: left;
    box-shadow: inset -1px -1px var(--ui-shadow-color), inset 1px 2.5px var(--ui-highlight-color);
    font-size: 13px;
    padding: 0 12px;
}

h2.ui-header {
  font-size: 15px;
  margin: 0;
  text-shadow: 1px 1px var(--ui-highlight-color);
  color: var(--ui-shadow-color);
}
